<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gncbrown.GetMeBack" >

    <uses-sdk
        android:minSdkVersion="31"
        android:targetSdkVersion="31" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="Manifest.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="Manifest.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gncbrown.GetMeBack.GoToActivity"
            android:exported="false" />
        <activity
            android:name="com.gncbrown.GetMeBack.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.gncbrown.GetMeBack.HelpDisplay" />

        <receiver
            android:name="com.gncbrown.GetMeBack.Utilities.ButtonWidgetReceiver"
            android:exported="true"
            android:label="GetMeBack" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.gncbrown.GetMeBack.ACTION_WIDGET_UPDATE_FROM_ACTIVITY" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/button_widget_provider" />
        </receiver>

        <service
            android:name="com.gncbrown.GetMeBack.Services.LocationService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAj-Uv9UPWR7anY3vY6XpwFvYdzFC8T7kk" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>